<style type="text/css">
        span.highlightblack
        {
        background-color:black;
        color:white;
        padding:1%
        }

        span.highlightwhite
        {
        background-color:white;
        padding:1%
        }
        </style>
        

<!-- tiles section -->
<section id="one" class="tiles">
  {% for post in site.posts limit:site.tiles-count %}
  {% if site.tiles-source == 'posts' %}
        <article>
                <span class="image">
                        <img src="{{ post.image }}" alt="" />
                </span>
                <header>
                        <h3><a href="{{ site.baseurl }}{{ post.url }}" class="link"><span class="highlightblack">{{ post.title }}</span></a></h3>
                        <p><span class="highlightwhite">{{ post.description }}</span></p>
                </header>
        </article>
  {% endif %}
  {% endfor %}
  {% for page in site.pages limit:site.tiles-count %}
  {% if site.tiles-source == 'pages' %}
        <article>
                <span class="image">
                        <img src="{{ page.image }}" alt="" />
                </span>
                <header>
                        <h3><a href="{{ site.baseurl }}{{ page.url }}" class="link"><span class="highlightblack">{{ page.title }}</span></a></h3>
                        <p><span class="highlightwhite">{{ page.description }}</span></p>
                </header>
        </article>
  {% endif %}
  {% endfor %}
</section>
